body{
    margin: 0px;
    padding:0px;
}
td,tr,table{
    background-color: rgb(114, 164, 174);
    color:black;
    width: 1000px;
    height: min-content;
    margin:auto;
    margin-top: 20%;
    border:1px solid black;
    border-radius: 10px;
}