*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: grey;
}

nav{
    font-size: 1.5rem;
    line-height: 1.9rem;
}

tr,td,table{
    margin:auto;
    margin-top:10%;
}
