.c1{
    margin-right:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:50%;
    padding-left: 0px;
    padding-right: 0%;
}

td,tr,table{
    margin-right:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:0px;
}

.m1{
    margin-right:0px;
    margin-left:40%;
}